{% extends 'base.html'%}

{% block content %}
<main>
  <h1>Your Shopping List</h2>
  <ul>
  {% for item in shopping_list %}
    <li>{{ item.food_item }}</li>
  {% endfor %}
  </ul>
  <div>
    <form method="post" action="{% url 'shopping_item_delete' %}">
      {% csrf_token %}
      <button class="button">Delete all items</button>
    </form>
  </div>
</main>
{% endblock %}