{% extends 'base.html' %}

{% block content %}
{% load markdownify %}

<main>
  <div>
    <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
    <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
  </div>
  <h1>{{ mealplan.name }}</h1>
  <h2>{{ mealplan.owner | default_if_none:"Unkown" }}'s personalized meal plan </h2>
  <p> Date {{ mealplan.date}} </p>
  <h2>Recipes</h2>
  {% for recipe in mealplan.recipes.all %}
    <h2>
    <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </h2>
  {% endfor %}
  </main>
  {% endblock content %}
